<ul>
  <li><a (click)="updateColor('yellow')">Yellow</a></li>
  <li><a (click)="updateColor('green')">Green</a></li>
  <li><a (click)="toogleDisplay()">{{ display ? 'Hide': 'Show' }}</a></li>
</ul>
<p *ngIf="display" [ngClass]="currentClasses">
  Chivas is 12 times champion!
</p>
<div>
  <h2>Notes</h2>
  <input type="text" class="text" (ngModelChange)="filterNotes($event)" placeholder="Search" [(ngModel)]="qryStr"/>
  <div *ngFor="let note of filteredNotes">
      <div class="preview">
          <span>Title: <strong>{{ note.title }}</strong></span>
          <p>Content:</p>
          <pre>{{ note.text }}</pre>
      </div>
      <hr>
  </div>
</div>

